In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
train_df = pd.read_csv('train.csv')
train_df.head()

             date_time is_holiday  ...  air_pollution_index  traffic_volume
0  2012-10-02 09:00:00       None  ...                  121            5545
1  2012-10-02 10:00:00       None  ...                  178            4516
2  2012-10-02 11:00:00       None  ...                  113            4767
3  2012-10-02 12:00:00       None  ...                   20            5026
4  2012-10-02 13:00:00       None  ...                  281            4918

[5 rows x 14 columns]

In [15]:
test_df = pd.read_csv('test.csv')
test_df.head()

             date_time is_holiday  ...  weather_type  traffic_volume
0  2017-05-18 00:00:00       None  ...          Rain             646
1  2017-05-18 00:00:00       None  ...          Mist             646
2  2017-05-18 00:00:00       None  ...       Drizzle             646
3  2017-05-18 01:00:00       None  ...          Rain             353
4  2017-05-18 01:00:00       None  ...          Mist             353

[5 rows x 13 columns]

In [16]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33750 entries, 0 to 33749
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date_time            33750 non-null  object
 1   is_holiday           33750 non-null  object
 2   humidity             33750 non-null  int64
 3   wind_speed           33750 non-null  int64
 4   wind_direction       33750 non-null  int64
 5   visibility_in_miles  33750 non-null  int64
 6   dew_point            33750 non-null  int64
 7   temperature          33750 non-null  float64
 8   rain_p_h             33750 non-null  float64
 9   snow_p_h             33750 non-null  float64
 10  clouds_all           33750 non-null  int64
 11  weather_type         33750 non-null  object
 12  air_pollution_index  33750 non-null  int64
 13  traffic_volume       33750 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 3.6+ MB

In [17]:
train_df.is_holiday.unique()

array(['None', 'Columbus Day', 'Veterans Day', 'Thanksgiving Day',
       'Christmas Day', 'New Years Day', 'Washingtons Birthday',
       'Memorial Day', 'Independence Day', 'State Fair', 'Labor Day',
       'Martin Luther King Jr Day'], dtype=object)

In [0]:
# All holidays as one
train = train_df.copy()
test = test_df.copy()

train.is_holiday[train.is_holiday == 'None'] = 0
#print(train.head())
train.is_holiday[train.is_holiday != 0] = 1
test.is_holiday[test.is_holiday == 'None'] = 0
test.is_holiday[test.is_holiday != 0] = 1

In [19]:
train.head()

             date_time is_holiday  ...  air_pollution_index  traffic_volume
0  2012-10-02 09:00:00          0  ...                  121            5545
1  2012-10-02 10:00:00          0  ...                  178            4516
2  2012-10-02 11:00:00          0  ...                  113            4767
3  2012-10-02 12:00:00          0  ...                   20            5026
4  2012-10-02 13:00:00          0  ...                  281            4918

[5 rows x 14 columns]

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33750 entries, 0 to 33749
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date_time            33750 non-null  object
 1   is_holiday           33750 non-null  object
 2   humidity             33750 non-null  int64
 3   wind_speed           33750 non-null  int64
 4   wind_direction       33750 non-null  int64
 5   visibility_in_miles  33750 non-null  int64
 6   dew_point            33750 non-null  int64
 7   temperature          33750 non-null  float64
 8   rain_p_h             33750 non-null  float64
 9   snow_p_h             33750 non-null  float64
 10  clouds_all           33750 non-null  int64
 11  weather_type         33750 non-null  object
 12  air_pollution_index  33750 non-null  int64
 13  traffic_volume       33750 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 3.6+ MB

In [21]:
train.weather_type.unique()

array(['Clouds', 'Clear', 'Rain', 'Drizzle', 'Mist', 'Haze', 'Fog',
       'Thunderstorm', 'Snow', 'Squall', 'Smoke'], dtype=object)

In [0]:
train.is_holiday = train.is_holiday.astype(int)
test.is_holiday = test.is_holiday.astype(int)

In [23]:
train = pd.concat([train,pd.get_dummies(train['weather_type'], prefix='weather')],axis=1)
train.head(2)

             date_time  is_holiday  ...  weather_Squall  weather_Thunderstorm
0  2012-10-02 09:00:00           0  ...               0                     0
1  2012-10-02 10:00:00           0  ...               0                     0

[2 rows x 25 columns]

In [24]:
test = pd.concat([test,pd.get_dummies(test['weather_type'], prefix='weather')],axis=1)
test.head(2)

             date_time  is_holiday  ...  weather_Snow  weather_Thunderstorm
0  2017-05-18 00:00:00           0  ...             0                     0
1  2017-05-18 00:00:00           0  ...             0                     0

[2 rows x 23 columns]

In [0]:
train.drop(['weather_type'],axis=1, inplace=True)
test.drop(['weather_type'],axis=1, inplace=True)

In [0]:
x = train.copy()
x.drop(['air_pollution_index'],axis=1, inplace=True)
y = train.air_pollution_index

In [0]:
x.drop(['date_time'],axis=1, inplace=True)

In [0]:
predict_on = test.drop(['date_time'],axis=1)

In [0]:
# test did not had weather_Squall as weather type so this extra step
predict_on['weather_Squall'] = 0
temp = x.weather_Squall
x.drop(['weather_Squall'],axis=1, inplace=True)
x['weather_Squall'] = temp

In [45]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x_scale = scaler.fit_transform(x,y)
print(x.shape)
print(x_scale.shape)

(33750, 22)
(33750, 22)

In [0]:
predict_on = scaler.transform(predict_on)

---

In [129]:
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn.ensemble import AdaBoostRegressor, BaggingRegressor, GradientBoostingRegressor, StackingRegressor
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor

rfr = DecisionTreeRegressor() #(max_depth=len(y), random_state=0, criterion='friedman_mse', oob_score=True)
rfr.fit(x_scale, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [130]:
'''from sklearn.metrics import mean_squared_error, make_scorer, r2_score
from sklearn.model_selection import GridSearchCV

params = {
 'n_estimators': [50, 100],
 'learning_rate' : [0.01, 0.05, 0.1, 0.5],
 'loss' : ['linear', 'square', 'exponential']
 }

score = make_scorer(mean_squared_error)'''

"from sklearn.metrics import mean_squared_error, make_scorer, r2_score\nfrom sklearn.model_selection import GridSearchCV\n\nparams = {\n 'n_estimators': [50, 100],\n 'learning_rate' : [0.01, 0.05, 0.1, 0.5],\n 'loss' : ['linear', 'square', 'exponential']\n }\n\nscore = make_scorer(mean_squared_error)"

In [0]:
'''gridsearch=GridSearchCV(rfr, params, cv=5, return_train_score=True)
gridsearch.fit(x_scale, y)
GridSearchCV(cv=5, error_score='raise',
       estimator=AdaBoostRegressor(base_estimator=None, learning_rate=1.0, 
       loss='linear', n_estimators=50, random_state=None),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'n_estimators': [50, 100], 
                   'learning_rate': [0.01, 0.05, 0.1, 0.5], 
                   'loss': ['linear', 'square', 'exponential']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)'''

In [132]:
from sklearn.metrics import mean_squared_error

pred = rfr.predict(predict_on)
mean_squared_error(rfr.predict(x_scale), y)

0.0685037037037037

In [0]:
submit = pd.DataFrame()

In [134]:
submit['date_time'] = test.date_time
submit['air_pollution_index'] = pred

submit.head()

             date_time  air_pollution_index
0  2017-05-18 00:00:00                135.0
1  2017-05-18 00:00:00                220.0
2  2017-05-18 00:00:00                218.0
3  2017-05-18 01:00:00                 27.0
4  2017-05-18 01:00:00                 27.0

In [0]:
submit.to_csv('summmit-dt.csv', index=False)