<a href="https://colab.research.google.com/github/shobhitsundriyal/f_challenges/blob/master/HE_NDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget "https://he-s3.s3.amazonaws.com/media/hackathon/novartis-data-science-hiring-challenge/predict-if-the-server-will-be-hacked-a1889487/6a62a5b4967411ea.zip?Signature=xux7%2FqRsrfZRF180HlovUY9JM2c%3D&Expires=1591809922&AWSAccessKeyId=AKIA6I2ISGOYH7WWS3G5"

--2020-06-10 16:25:58--  https://he-s3.s3.amazonaws.com/media/hackathon/novartis-data-science-hiring-challenge/predict-if-the-server-will-be-hacked-a1889487/6a62a5b4967411ea.zip?Signature=xux7%2FqRsrfZRF180HlovUY9JM2c%3D&Expires=1591809922&AWSAccessKeyId=AKIA6I2ISGOYH7WWS3G5
Resolving he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)... 52.219.32.104
Connecting to he-s3.s3.amazonaws.com (he-s3.s3.amazonaws.com)|52.219.32.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 555520 (542K) [application/zip]
Saving to: ‘6a62a5b4967411ea.zip?Signature=xux7%2FqRsrfZRF180HlovUY9JM2c=&Expires=1591809922&AWSAccessKeyId=AKIA6I2ISGOYH7WWS3G5’

6a62a5b4967411ea.zi 100%[===================>] 542.50K   492KB/s    in 1.1s

2020-06-10 16:26:01 (492 KB/s) - ‘6a62a5b4967411ea.zip?Signature=xux7%2FqRsrfZRF180HlovUY9JM2c=&Expires=1591809922&AWSAccessKeyId=AKIA6I2ISGOYH7WWS3G5’ saved [555520/555520]

In [3]:
!unzip d.zip

Archive:  d.zip
   creating: Dataset/
  inflating: Dataset/Train.csv
  inflating: Dataset/sample_submission.csv
  inflating: Dataset/Test.csv

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
train_df = pd.read_csv('Dataset/Train.csv')
train_df.head()

  INCIDENT_ID       DATE  X_1  X_2  ...  X_13  X_14  X_15  MULTIPLE_OFFENSE
0   CR_102659  04-JUL-04    0   36  ...    92    29    36                 0
1   CR_189752  18-JUL-17    1   37  ...   103   142    34                 1
2   CR_184637  15-MAR-17    0    3  ...   110    93    34                 1
3   CR_139071  13-FEB-09    0   33  ...    72    29    34                 1
4   CR_109335  13-APR-05    0   33  ...   112    29    43                 1

[5 rows x 18 columns]

In [6]:
# Some labels are also null
train_df = train_df[~train_df['MULTIPLE_OFFENSE'].isnull()]
train_df.shape

(23856, 18)

In [7]:
train_df.describe()

                X_1           X_2  ...          X_15  MULTIPLE_OFFENSE
count  23856.000000  23856.000000  ...  23856.000000      23856.000000
mean       0.483778     24.791206  ...     33.464747          0.955231
std        1.439738     15.240231  ...      8.386834          0.206800
min        0.000000      0.000000  ...      0.000000          0.000000
25%        0.000000      7.000000  ...     34.000000          1.000000
50%        0.000000     24.000000  ...     34.000000          1.000000
75%        0.000000     36.000000  ...     34.000000          1.000000
max        7.000000     52.000000  ...     50.000000          1.000000

[8 rows x 16 columns]

In [8]:
for i in range(1, 16):
  s = 'X_' + str(i)
  print(f'X{i}', True in train_df[s].isnull())

X1 True
X2 True
X3 True
X4 True
X5 True
X6 True
X7 True
X8 True
X9 True
X10 True
X11 True
X12 True
X13 True
X14 True
X15 True

In [9]:
from sklearn.impute import SimpleImputer
impute = SimpleImputer(strategy='mean')

X = train_df.iloc[:, 2:17]
X.head()

   X_1  X_2  X_3  X_4  X_5  X_6  X_7  ...  X_9  X_10  X_11  X_12  X_13  X_14  X_15
0    0   36   34    2    1    5    6  ...    6     1   174   1.0    92    29    36
1    1   37   37    0    0   11   17  ...    6     1   236   1.0   103   142    34
2    0    3    2    3    5    1    0  ...    3     1   174   1.0   110    93    34
3    0   33   32    2    1    7    1  ...    6     1   249   1.0    72    29    34
4    0   33   32    2    1    8    3  ...    5     1   174   0.0   112    29    43

[5 rows x 15 columns]

In [0]:
impute.fit(X)
X = impute.transform(X)
Y = train_df.iloc[:, -1]

In [11]:
True in Y.isnull()

True

In [0]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y.to_numpy(), test_size=0.2, )#stratify=True)

In [0]:
from xgboost import XGBClassifier

xgb = XGBClassifier()

In [15]:
xgb.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [17]:
xgb.score(x_train, y_train)

0.9987424020121568

In [18]:
xgb.score(x_test, y_test)

0.9972757753562448

In [20]:
test_df = pd.read_csv('Dataset/Test.csv')
test_df.head()

  INCIDENT_ID       DATE  X_1  X_2  X_3  ...  X_11  X_12  X_13  X_14  X_15
0   CR_195453  01-FEB-18    0   30   35  ...   174   NaN    72   119    23
1   CR_103520  05-MAR-04    0   44   44  ...   316   0.0    12    29    34
2   CR_196089  27-JAN-18    0   34   33  ...   316   1.0    72     0    34
3   CR_112195  18-AUG-06    7    3    2  ...   174   1.0   112    87    34
4   CR_149832  31-OCT-11    0    7    8  ...   174   0.0   112    93    43

[5 rows x 17 columns]

In [21]:
pred_on = test_df.iloc[:, 2:]
pred_on.head()

   X_1  X_2  X_3  X_4  X_5  X_6  X_7  ...  X_9  X_10  X_11  X_12  X_13  X_14  X_15
0    0   30   35    7    3    6    4  ...    5     1   174   NaN    72   119    23
1    0   44   44    1    3    7    1  ...    6     1   316   0.0    12    29    34
2    0   34   33    3    5    2    7  ...    0     1   316   1.0    72     0    34
3    7    3    2    3    5    9    8  ...    5     1   174   1.0   112    87    34
4    0    7    8    7    3    2    7  ...    5     1   174   0.0   112    93    43

[5 rows x 15 columns]

In [0]:
pred_on = impute.transform(pred_on)

In [0]:
preds = xgb.predict(pred_on)

In [0]:
submit = pd.DataFrame(columns=['INCIDENT_ID', 'MULTIPLE_OFFENSE'])

In [30]:
submit['INCIDENT_ID'] = test_df['INCIDENT_ID']
submit['MULTIPLE_OFFENSE'] = preds
submit.head()

  INCIDENT_ID  MULTIPLE_OFFENSE
0   CR_195453                 1
1   CR_103520                 1
2   CR_196089                 1
3   CR_112195                 1
4   CR_149832                 1

In [0]:
submit.to_csv('summit.csv', index=False)