<a href="https://colab.research.google.com/github/shobhitsundriyal/f_challenges/blob/master/HE_NDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!wget "https://he-s3.s3.amazonaws.com/media/hackathon/novartis-data-science-hiring-challenge/predict-if-the-server-will-be-hacked-a1889487/6a62a5b4967411ea.zip?Signature=QRPm6RwlXICVU7iAkKo8WK6XW4E%3D&Expires=1591463327&AWSAccessKeyId=AKIA6I2ISGOYH7WWS3G5"

In [6]:
!unzip d.zip

Archive:  d.zip
   creating: Dataset/
  inflating: Dataset/Train.csv
  inflating: Dataset/sample_submission.csv
  inflating: Dataset/Test.csv

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
train_df = pd.read_csv('Dataset/Train.csv')
train_df.head()

  INCIDENT_ID       DATE  X_1  X_2  ...  X_13  X_14  X_15  MULTIPLE_OFFENSE
0   CR_102659  04-JUL-04    0   36  ...    92    29    36                 0
1   CR_189752  18-JUL-17    1   37  ...   103   142    34                 1
2   CR_184637  15-MAR-17    0    3  ...   110    93    34                 1
3   CR_139071  13-FEB-09    0   33  ...    72    29    34                 1
4   CR_109335  13-APR-05    0   33  ...   112    29    43                 1

[5 rows x 18 columns]

In [29]:
# Some labels are also null
train_df = train_df[~train_df['MULTIPLE_OFFENSE'].isnull()]
train_df.shape

(23856, 18)

In [30]:
train_df.describe()

                X_1           X_2  ...          X_15  MULTIPLE_OFFENSE
count  23856.000000  23856.000000  ...  23856.000000      23856.000000
mean       0.483778     24.791206  ...     33.464747          0.955231
std        1.439738     15.240231  ...      8.386834          0.206800
min        0.000000      0.000000  ...      0.000000          0.000000
25%        0.000000      7.000000  ...     34.000000          1.000000
50%        0.000000     24.000000  ...     34.000000          1.000000
75%        0.000000     36.000000  ...     34.000000          1.000000
max        7.000000     52.000000  ...     50.000000          1.000000

[8 rows x 16 columns]

In [31]:
for i in range(1, 16):
  s = 'X_' + str(i)
  print(f'X{i}', True in train_df[s].isnull())

X1 True
X2 True
X3 True
X4 True
X5 True
X6 True
X7 True
X8 True
X9 True
X10 True
X11 True
X12 True
X13 True
X14 True
X15 True

In [32]:
from sklearn.impute import SimpleImputer
impute = SimpleImputer(strategy='mean')

X = train_df.iloc[:, 2:17]
X.head()

   X_1  X_2  X_3  X_4  X_5  X_6  X_7  ...  X_9  X_10  X_11  X_12  X_13  X_14  X_15
0    0   36   34    2    1    5    6  ...    6     1   174   1.0    92    29    36
1    1   37   37    0    0   11   17  ...    6     1   236   1.0   103   142    34
2    0    3    2    3    5    1    0  ...    3     1   174   1.0   110    93    34
3    0   33   32    2    1    7    1  ...    6     1   249   1.0    72    29    34
4    0   33   32    2    1    8    3  ...    5     1   174   0.0   112    29    43

[5 rows x 15 columns]

In [0]:
impute.fit(X)
X = impute.transform(X)
Y = train_df.iloc[:, -1]

In [34]:
True in Y.isnull()

True

In [40]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y.to_numpy(), test_size=0.2, stratify=True)

TypeError: ignored

In [36]:
X.shape

(23856, 15)