In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('train.csv')
df.head()

   patient_id              name_of_drug  ... number_of_times_prescribed base_score
0      206461                 Valsartan  ...                         27   8.022969
1       95260                Guanfacine  ...                        192   7.858458
2       92703                    Lybrel  ...                         17   6.341969
3       35696  Buprenorphine / naloxone  ...                         37   6.590176
4      155963                    Cialis  ...                         43   6.144782

[5 rows x 8 columns]

In [4]:
train = df[['effectiveness_rating', 'number_of_times_prescribed',	'base_score']]
train.head()

   effectiveness_rating  number_of_times_prescribed  base_score
0                     9                          27    8.022969
1                     8                         192    7.858458
2                     5                          17    6.341969
3                     9                          37    6.590176
4                     2                          43    6.144782

In [5]:
train.corr()

                            effectiveness_rating  ...  base_score
effectiveness_rating                    1.000000  ...    0.412301
number_of_times_prescribed              0.242224  ...    0.134295
base_score                              0.412301  ...    1.000000

[3 rows x 3 columns]

In [0]:
x = train[['effectiveness_rating',	'number_of_times_prescribed']]
y = train[['base_score']]

In [7]:
from sklearn import tree
clf = tree.DecisionTreeRegressor()
clf.fit(x, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [8]:
clf

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [0]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(x)

In [10]:
y_pred

array([8.02296894, 7.85845814, 6.34196947, ..., 6.24181174, 7.9404277 ,
       8.2053934 ])

In [11]:
df_test = pd.read_csv('test.csv')
df_test.head()

   patient_id name_of_drug  ...  use_case_for_drug effectiveness_rating
0      163740  Mirtazapine  ...         Depression                   10
1       39293     Contrave  ...        Weight Loss                    9
2      208087      Zyclara  ...          Keratosis                    4
3       23295    Methadone  ...  Opiate Withdrawal                    7
4       97013       Ambien  ...           Insomnia                    2

[5 rows x 7 columns]

In [0]:
predict_on = df_test[['effectiveness_rating', 'number_of_times_prescribed']]

In [0]:
z = clf.predict(predict_on)

In [0]:
submit = pd.DataFrame(columns=['patient_id', 'base_score'])

In [15]:
submit['patient_id'] = df_test['patient_id']
submit.head()

   patient_id base_score
0      163740        NaN
1       39293        NaN
2      208087        NaN
3       23295        NaN
4       97013        NaN

In [16]:
submit['base_score'] = z
submit.head()

   patient_id  base_score
0      163740    8.757201
1       39293    8.745037
2      208087    5.952278
3       23295    5.994904
4       97013    5.361308

In [0]:
submit.to_csv('dt.csv', index=False)

In [0]:

import pandas
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [0]:
def baseline_model():
	# create model
	model = Sequential()
	model.add(Dense(13, input_dim=2, kernel_initializer='normal', activation='relu'))
	model.add(Dense(1, kernel_initializer='normal'))
	# Compile model
	model.compile(loss='mean_squared_error', optimizer='adam')
	return model

In [0]:
estimator = KerasRegressor(build_fn=baseline_model, epochs=100, batch_size=5, verbose=0)

In [22]:
estimator.fit(x, y)

In [0]:
z = estimator.predict(predict_on)

In [24]:
submit = pd.DataFrame(columns=['patient_id', 'base_score'])
submit.head()

Empty DataFrame
Columns: [patient_id, base_score]
Index: []

In [25]:
submit['patient_id'] = df_test['patient_id']
submit.head()

   patient_id base_score
0      163740        NaN
1       39293        NaN
2      208087        NaN
3       23295        NaN
4       97013        NaN

In [26]:
submit['base_score'] = z
submit.head()

   patient_id  base_score
0      163740    7.742361
1       39293    6.979780
2      208087    5.880947
3       23295    5.510408
4       97013    6.726908

In [0]:
submit.to_csv('13Lnn.csv', index=False)